# All folders starting with _ are local.
_*/

# Compiled python files.
*.py[cod]

# Visual Studio files.
/.vs
**/.vscode/ipch

# macOS files.
.DS_Store

# Generated license file.
PACKAGE-DEPS.yaml

# Internal CI/CD files.
/.teamcity
/tools/ci

/app
*.env
*.code-workspace
source/mqtt_sim/sdm-authn-ID.key
.gitignore
source/ingest_app_mqtt/client2-authn-ID.key
source/ingest_app_mqtt/client2-authn-ID.pem
exts/*/*.key
exts/*/*.pem
source/*/*.pem
source/*/*.key
